.skills{
    position: relative;
    height: 80vh;
    background-color: rgb(20, 20, 20);
    overflow-x: hidden;
    color: white;
}
.skills_title{
    position: absolute;
    top: 60%;
    right: 20%;
    color: #EEEEEE;
    font-weight: 700;
    opacity: 0.4;
    transform: scale(8);
    overflow-x: hidden;
}
.icon{
    font-size: 2.8rem;
}
.skill_name{
    font-size: 2rem;
}
.html_title {
    width: 20%;
    position: absolute;
    top: 10%;
    left: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.css_title{
    width: 20%;
    position: absolute;
    top: 25%;
    left: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.javascript_title{
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 15%;
}
.react_title{
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 55%;
    left: 15%;
}