.about{
    height: 100vh;
    background-color: rgb(20, 20, 20);
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
}
.about_title{
    position: absolute;
    top: 130%;
    left: 20%;
    color: #EEEEEE;
    font-weight: 700;
    opacity: 0.4;
    transform: scale(8);
    overflow-x: hidden;
}

.about_content{
    position: absolute;
    top: 138%;
    left: 50%;
    color: white;
    transform: scale(2);
}

@media all and (max-width : 700px){
    .about_title{
        position: absolute;
        top: 130%;
        left: 0%;
        color: #EEEEEE;
        font-weight: 700;
        opacity: 0.4;
        transform: scale(3);
        overflow: hidden;
    }
    
    .about_content{
        position: absolute;
        top: 130%;
        left: 50%;
        color: white;
        transform: scale(1);
    }
    .about{
        overflow-x: hidden;
    }
}